.app {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  min-height: 100vh;
  border-radius: 10px;
  flex-direction: column;
  background-position: center;
  background-image: url("https://1.bp.blogspot.com/-v5exH6wKaMM/YQx038OpweI/AAAAAAAAAes/au8_iMFkbYYgcyrYY6wSzNBFnjdsgvTLACLcBGAsYHQ/s2000/TreesAndWater%2B%25281%2529.jpg");
}

@media (min-width: 800px) {
  .app {
      padding: 0 100px;
      margin-top: 5vh;
      min-height: 90vh;
  }
}