.RawaPening {
    flex-grow: 1;
  }
  
  .RawaPening h1 {
    margin-bottom: 20px;
  }
  .RawaPening p {
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  .RawaPening img {
    width: 100%;
  max-width: 400px;
  height: auto;
  }
  
